@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Patrick+Hand&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-handwriting {
    font-family: "Dancing Script", "Patrick Hand", cursive;
}
